
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ data['reportName'] }}-设备报告</title>

</head>
{#    {% block body %}#}
{#      <ul>#}
{#      {%    for user in data['users'] %}#}
{#        <li><a href="{{ user.url }}">{{ user.username }}</a></li>#}
{#      {% endfor %}#}
{#      </ul>#}
{#    {% endblock %}#}
<body>
	<table border="1">
	  <tr>
        {% for user in data['biaotou'] %}
            <th>{{ user }}</th>
        {% endfor %}
	  </tr>
    {% for user in data['biaoneirong'] %}
	    <tr>
            {% for ss in user %}
                <td>{{ ss }}</td>
            {% endfor %}
	    </tr>
    {% endfor %}
	</table>
</body>
</html>